In [37]:
#Q1 write a program to convert specified days into years,weeks and days.take user input  Note: ignore leap year

days = int(input("enter days as you want to convert into years, weeks and days"))

years = days//365
weeks = days//7
rem_days = days//365
rem_weeks = days//4

print("coversion is", years,':',weeks,':',days)

enter days as you want to convert into years, weeks and days 400

coversion is 1 : 57 : 400

In [14]:
#Q2 write a paython program to input basic python salary of an employee and calculate its gross salar according to following:
#basic salary <= 10000:HRA =20%, DA = 80%
#basic salary <= 20000:HRA =30%, DA = 90%
#basic salary > 20000:HRA =35%, DA = 95%

Basic_salary = int(input("enter basic salary"))
if Basic_salary <= 10000:
    DA = (Basic_salary*80)/100
    HRA = (Basic_salary*20)/100
    Gross_salary = Basic_salary+DA+HRA
    print('Gross_salary',Gross_salary)

elif Basic_salary <=20000:
     DA = (Basic_salary*90)/100
     HRA = (Basic_salary*30)/100
     Gross_salary = Basic_salary+DA+HRA
     print('Gross_salary',Gross_salary)

else:
    if Basic_salary > 2000:
        DA = (Basic_salary*95)/100
        HRA = (Basic_salary*35)/100
        Gross_salary = Basic_salary+DA+HRA
        print('Gross_salary',Gross_salary)#write a python program to print the given number patterns

enter basic salary 21000

Gross_salary 48300.0

In [18]:
#Q3 write a python program to input electricity unit charges and calculate total electricity bill according to the give condition:
#for first 50 units RS. 0.50/unit
#for next 100 units Rs.0.75/unit
#for next 100 units Rs.1.23/unit
#for unit above 250 Rs.1.50/unit
#an additional surcharge of 17% is added to the bill

unit  = int(input("enter the number of unit"))
if unit <= 50:
    print('electricity bill=',unit*0.50,'rupees')

elif unit >= 50 and unit <= 150:
    print('electricity bill=',unit*0.70,'rupees')

elif unit >= 150 and unit <= 200:
    print('electricity bill=',unit*1.25,'rupees')
else:
    if unit>250:
        electricity_bill = unit*1.50
        extra_charge = (electricity_bill/17)*100
        Total_charge = electricity_bill+extra_charge
        print('electricity bill=',Total_charge)

enter the number of unit 300

electricity bill= 3097.0588235294117

#write a python program to print given number patterns
#1
#2 2
#3 3 3
#4 4 4 4
#5 5 5 5 5

row = int(input("enter the numbers of rows"))
for i in range(row):
    for j in range(i+1):
    print(i+1,end='')
print()

In [22]:
#Q4 write a python program to print given number patterns
#1
#2 2
#3 3 3
#4 4 4 4
#5 5 5 5 5

row = int(input("enter the numbers of rows")) 
for i in range(row):
    for j in range(i+1):
        print(i+1,end='')
    print()

enter the numbers of rows 5

1
22
333
4444
55555

In [25]:
#Q5 write a python program to calculate product of digits of a number . Read value of n from user

num = int(input('enter the number'))
pod = 1
while num>0:
    rem = num % 10
    pod = pod*rem
    num = num//10
    print('addtion of digits is:',pod)

enter the number 12345

addtion of digits is: 5
addtion of digits is: 20
addtion of digits is: 60
addtion of digits is: 120
addtion of digits is: 120

In [27]:
#Q7 create a tuple of elements with 5 values in it and perform following operations 
# 1.print the data in sorted manner
#2. check to see that element 50 is present in it
#3. convert the tuple in set 

#tuple create
t = (1,5,2.5,0.5,8.5,5.5)
t

(1, 5, 2.5, 0.5, 8.5, 5.5)

In [14]:
#Q6 create a list of element like , x=[45,67,12,'hello',23,45,'world'] and perform followimg operation 

#1.exreact only string value from this list
#2.create a new list eith string in upper case.
#3.find the additio of interger values.
#4.check that the value 56 is present in it or not
#5. print the list in reverse order.
#6.delete the string 'hello' from it
#7.insert a new value of 36 at 5th position in list.
#8.count total number of element in list now.
#9.extract the values from 2nd index of 5th index
#10. append[34,'pune']to this lisst.
#11.delete the last element from list.


#list created
x=[45,67,12,'hello',23,45,'world']
x

[45, 67, 12, 'hello', 23, 45, 'world']

In [28]:
t1= list(t)

In [29]:
t1.sort()

In [30]:
t1

[0.5, 1, 2.5, 5, 5.5, 8.5]

In [31]:
#2 
50 in t1

False

In [32]:
#3
s=set(t)

In [33]:
s

{0.5, 1, 2.5, 5, 5.5, 8.5}

In [36]:
#Q8. create a dictionary of element :{'a':'apple','b':'ball','c','cat','d':'doll','k':'king'} and perform following operations
#1.access the data at key 'k'
#2.add a new value 'z':'zebra'
#3. replace the contentsof 'd' as 'dog'
#4. print all the value from this dictionary
#5.find the length of this dictionary

#dictionary created 
d = {'a':'apple','b':'ball','c':'cat','d':'doll','k':'king'} 
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

In [37]:
#1.
d['k']

'king'

In [38]:
#2
d['z']='zebra'

In [39]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}

In [41]:
#3.
d['d'] = 'dog'

In [42]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}

In [43]:
#4.
d.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])

In [44]:
#5
len(d)

6

In [47]:
#Q09. write a program to find the second largest element in a list

l = [19,34,22,15,89]

In [48]:
l

[19, 34, 22, 15, 89]

In [49]:
t=sorted(l,reverse=True)

In [50]:
t

[89, 34, 22, 19, 15]

In [51]:
t[1]

34

In [3]:
#10. this is a list of some metallic element  metals =['silver','gold'....]
#make a new list that is almost identical to the metals list :the new contains same as items,in the same order
#except that it does NOT contain the item 'copper'

metals = ['silver','gold','mercury','iron','cobolt']

In [4]:
metals

['silver', 'gold', 'mercury', 'iron', 'cobolt']

In [13]:
#create with out 'copper'
new_metals = [metals for metals in metals if metals != 'copper']

print(new_metals)

['silver', 'gold', 'mercury', 'iron', 'cobolt']

In [15]:
#Q6 create a list of element like , x=[45,67,12,'hello',23,45,'world'] and perform followimg operation 

#1.exreact only string value from this list
#2.create a new list eith string in upper case.
#3.find the additio of interger values.
#4.check that the value 56 is present in it or not
#5. print the list in reverse order.
#6.delete the string 'hello' from it
#7.insert a new value of 36 at 5th position in list.
#8.count total number of element in list now.
#9.extract the values from 2nd index of 5th index
#10. append[34,'pune']to this lisst.
#11.delete the last element from list.


#list created
x=[45,67,12,'hello',23,45,'world']
x

[45, 67, 12, 'hello', 23, 45, 'world']

In [17]:
#1 
string_values = [item for item in x if isinstance(item,str)]
print(string_values)

['hello', 'world']

In [20]:
#2
l = ['pranali','amruta','sneha','dnyaneshwari','pranali']
l
[n.upper()for n in l]

['PRANALI', 'AMRUTA', 'SNEHA', 'DNYANESHWARI', 'PRANALI']

In [22]:
#3
x=[45,67,12,'hello',23,45,'world']
sum = 0

for i in x:
    if isinstance(i,int):
        sum += i

print('sum of interger value in the list',sum)

sum of interger value in the list 192

In [23]:
#4.
56 in x

False

In [24]:
#5
x

[45, 67, 12, 'hello', 23, 45, 'world']

In [25]:
x.reverse()

In [26]:
x

['world', 45, 23, 'hello', 12, 67, 45]

In [27]:
#6
x.remove('hello')

In [28]:
x

['world', 45, 23, 12, 67, 45]

In [29]:
#7
x.insert(5,36)

In [30]:
x

['world', 45, 23, 12, 67, 36, 45]

In [31]:
len(x)

7

In [32]:
#9
x[2:6]

[23, 12, 67, 36]

In [33]:
#10
x.append([36,'pune'])

In [34]:
x

['world', 45, 23, 12, 67, 36, 45, [36, 'pune']]

In [35]:
#11
x

['world', 45, 23, 12, 67, 36, 45, [36, 'pune']]

In [36]:
x.pop()

[36, 'pune']