In [1]:
class Employee():     #class creation
    pass

In [2]:
emp1 = Employee()   #instance of a class
emp2 = Employee()

In [3]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x0000028368CE3690>
<__main__.Employee object at 0x0000028368CE34D0>

In [8]:
emp1.first = 'natasha'     #instance variable
emp1.last = 'nagi'
emp1.salary = '52000'

emp2.first = 'raj'     
emp2.last = 'sharma'
emp2.salary = '50000'

In [6]:
print(emp1.first)

natasha

In [7]:
print(emp2.salary)

50000

In [37]:
class Employee():

    def __init__(self,first,last,salary):
        self.first#instance value = first #actual value
        self.last = last
        self.salary =salary

def show(self):
    print(self.first+''+'ok')

In [20]:
emp1 = Employee('ravi','tyagi',55000)
emp2 = Employee('neha','kulkarni',54000)

In [38]:
emp1.first

'ravi'

In [87]:
#Encapsulation

class Employee1:
     def __init__(self,first,last,salary):
        self.first = first
        self.last = last
        self._salary =salary  #creating a private variable

def display(self):
    print('salary is:',self.__salary)

In [88]:
emp3=Employee1('Akash','tyagi',30000)
emp4=Employee1('pranav','patil',32000)

In [89]:
emp3.first

'Akash'

In [83]:
#inheritance

class Employee2(Employee1):
    pass

In [84]:
employee5 = Employee2('aniket','rana',6000)

In [92]:
''''
crate a class called person
take in name,age,hobby....
create multiple objects
create a method to display all the info
''';

In [105]:

class Person():
    def _int_(name,age,hobby):
        self.name = name
        self.age = age
        self.hobby = hobby
    def display_info(self):
        print("Name:", self.name)
        print("Age:", self.age)
        print("Hobby:", self.hobby)
        print()