In [6]:
#printing name 15 times

count = 1
while count <= 15:
    print("sneha",end = ' ')
    count = count + 1

sneha sneha sneha sneha sneha sneha sneha sneha sneha sneha sneha sneha sneha sneha sneha

In [3]:
print(count)

16

In [13]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [18]:
#odd number
count = 1
while count <=20:
    print(count)
    count += 2

1
3
5
7
9
11
13
15
17
19

In [ ]:
  #find the additiion all number from  1 to 10

count = 1
add = 0

while count <=10:
    add = add+count
    count += 1
    
print("addition",add)

In [ ]:
# find addtion of all the odd numbers from 1 to20

count = 1
add = 0
while count <=20:
    add = add+count
    count += 2

print("addition",add)

In [25]:
#find the addtion of all the digits of a number

num =int(input("enter your number"))
count =1
add=0
while num>0:
    rem = num%10
    add =add+rem
    num = num//10

print("addtion",add)

enter your number 250

addtion 7

In [24]:
# find the factorial of any number

num=int(input("enter the number"))
fact = 1
while num >= 1:
    fact = fact*num
    num -= 1

print("factorial is", fact)

enter the number 2

factorial is 2

In [26]:
#for loop sequense
for n in 34,45,67,78:
    print(n)

34
45
67
78

In [27]:
for n in 34,45,67,78:
    print(n/2)

17.0
22.5
33.5
39.0

In [28]:
#range function
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
list(range (5,16))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [31]:
list(range (5,16,3))

[5, 8, 11, 14]

In [36]:
#range (start,end+1,step)
list(range (23,1,-1))

[23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2]

In [37]:
for n in range(5):
    print(n)

0
1
2
3
4

In [43]:
for n in range(6):
    print(n*n)

0
1
4
9
16
25

In [48]:
for n in range(10):
    print('sneha',end=' ')

sneha sneha sneha sneha sneha sneha sneha sneha sneha sneha

In [53]:
add=0
for n in range(1,11):
    add=add+n

print("addition",add)

addition 55

In [56]:
add=0
for n in range(1,21,2):
    add=add+n

print("addition",add)

addition 100

In [57]:
for n in 'sneha':
    print(n)

s
n
e
h
a

In [58]:
for n in 'sneha','pranali':
    print(n)

sneha
pranali

In [74]:
#factorial using for loop

num=int(input("enter the number"))
fact = 1
for n in range(1,num+1):
    fact = fact*num
    num = num-1

print("factorial is", fact)

enter the number 3

factorial is 6

In [80]:
#break stmt
for n in range(1,11):
    if n==5:
        break
        print(n)

In [ ]:
#break stmt
for n in range(1,11):
    if n==5:
        break
        print(n)

In [5]:
rows=int(input("enter the number of rows"))
               
for i in range(1,rows+1):
  for  j in range(i):
        print('*',end=' ')
        print()

enter the number of rows 3

*
*
*
*
*
*